.sidebar {
  width: 250px;
  height: 100%;
  padding: 1rem;
  background-color: var(--bg-sidebar);
  overflow-y: auto;
}

.blockWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  background-color: #3a3a3a;
  color: var(--text-main);
  border-radius: 8px;

  p {
    white-space: normal; // разрешает перенос строк
    word-wrap: break-word; // старый синтаксис, поддержка везде
    overflow-wrap: anywhere; // переносит даже длинные слова
  }
}
