@import "../styles/variables.scss";

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.mainLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--bg-main);
  color: var(--text-main);
  overflow: hidden;
}

.mainWrapper {
  display: flex;
  flex: 1;
  gap: 0 20px;
  overflow: hidden;

  :global(.simplebar-scrollbar) {
    pointer-events: all; /* чтобы ::before мог реагировать на hover */
  }

  :global(.simplebar-scrollbar::before) {
    background: var(--scroll);
  }

  :global(.simplebar-scrollbar:hover::before) {
    background-color: var(--accent);
    transition: background-color 0.3s;
    cursor: pointer;
  }
}
